@model MVC7amTremendousBatch.Models.EmployeeModel
@{
    ViewBag.Title = "HtmlHelperExample";
}

<h2>HtmlHelperExample</h2>

<input type="text" name="name" value="" style="background-color: chartreuse" class="form-control" onclick="fun()" /><br />
@Html.TextBox("fname","john",new { @style = "background-color:burlywood",@class="form-control",@id="fullName", @onclick = "fun()" })<br />
@Html.Password("pwd",null,null)<br />
<span>Gender</span>@Html.RadioButton("Gender","Male",true)<span>Male</span>
                   @Html.RadioButton("Gender", "FeMale")<span>FeMale</span><br />

<span>Courses</span>@Html.CheckBox("java")<span>Java</span>
                    @Html.CheckBox("Dotnet",true)<span>Dotnet</span>

<span>Country</span>
@Html.DropDownList("Country",new List<SelectListItem>(){

    new SelectListItem {Text="India",Value="1" },
    new SelectListItem {Text="USA",Value="2",Selected=true },
    new SelectListItem {Text="Canada",Value="3" }



               },"Select Country")<br />

@Html.DropDownList("Department")<br />
@Html.DropDownList("Dept",(IEnumerable<SelectListItem>)ViewBag.Department)

@Html.TextArea("Address","Hyd",5,10,null)

@*@Html.TextBoxFor(x=>x.EmpName)<br />
    @Html.EditorFor(x=>x.EmpName)
    @Html.EditorForModel(Model)*@


<script>
    function fun()
    {
        alert("Hello World");
    }
</script>