@model  MVC7amTremendousBatch.Models.EmpDept
@{
    ViewBag.Title = "SendData6";
}

<h2>SendData6</h2>

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    @foreach (var item in Model.emp)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.EmpName</td>
            <td>@item.EmpSalary</td>
        </tr>
    }
</table>


<table>
    <tr>
        <th>DeptId</th>
        <th>DeptName</th>
    </tr>
    @foreach (var item in Model.dept)
    {
        <tr>
            <td>@item.DeptId</td>
            <td>@item.DeptName</td>
        </tr>
    }
</table>